<figure itemscope="" itemtype="http://schema.org/ImageObject" class="page-absolute-icon">
    <img alt="Wallet icon" itemprop="contentUrl" src="assets/images/wallet-icon.svg"/>
</figure>
<div class="padding-top-50 padding-bottom-50">
    <div class="container-fluid padding-top-30 padding-bottom-50 padding-top-xs-0 padding-bottom-xs-0 no-gutter-xs text-center-xs">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-7 col-lg-offset-1 inline-block-top">
                <div class="fs-40 fs-xs-30 lato-bold fade-in-element"><span class="inline-block dcn-amount"></span><span class="inline-block padding-left-10">DCN</span></div>
                <div class="fs-30 fs-xs-20 padding-bottom-30 padding-bottom-xs-10 lato-bold fade-in-element"><span class="inline-block padding-right-10">=</span><span class="inline-block usd-amount"></span><span class="inline-block padding-left-10">USD</span></div>
                <div class="fs-20 fs-xs-15 fade-in-element"><span class="eth-amount inline-block"></span><span class="inline-block padding-left-10 padding-left-xs-5">ETH for transaction fees</span><figure itemscope="" itemtype="http://schema.org/ImageObject" class="inline-block margin-left-10 more-info" data-toggle="popover" data-placement="bottom" data-content="Ether (ETH) is a currency that is used for covering your transaction costs. Don't have ETH? <a href='//wallet.dentacoin.com/buy'>Buy some with a card here</a>."><img alt="More info icon" itemprop="contentUrl" src="assets/images/more-info.svg" class="width-100 max-width-20"/></figure></div>
            </div>
            <div class="col-sm-4 col-lg-3 inline-block-top text-right hide-this-xs">
                <figure itemscope="" itemtype="http://schema.org/ImageObject" id="qrcode"></figure>
            </div>
        </div>
    </div>
    <div class="eth-address-container fade-in-element color-white text-center">
        <h2 class="fs-20">Your Dentacoin Address:</h2>
        <div class="fs-0">
            <figure class="inline-block" itemscope="" itemtype="http://schema.org/ImageObject">
                <a href="javascript:void(0)" class="copy-address copy-btn inline-block" data-toggle="tooltip" title="Copied." data-clipboard-target="#copy-address">
                    <img src="assets/images/copy-icon.svg" class="max-width-30 width-100 margin-right-10" alt="Copy address to clipboard icon" itemprop="contentUrl"/>
                </a>
            </figure>
            <input type="text" readonly class="address-value inline-block fs-18 fs-xs-12" id="copy-address"/>
        </div>
    </div>
</div>