<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="wallet.dentacoin.com" ios-CFBundleIdentifier="com.dentacoin.wallet" version="1.0.1" android-versionCode="10029" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dentacoin Wallet</name>
    <description>
        Dentacoin Wallet allows users to easily and securely store, send, receive DCN tokens, as well as to buy DCN with credit card and other cryptocurrencies.
    </description>
    <author email="admin@dentacoin.com" href="http://dentacoin.com">
        Dentacoin Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <access origin="cdvfile://*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json"/>
        <preference name="android-targetSdkVersion" value="30"/>
        <allow-intent href="market:*" />
        <icon width="48" height="48" density="hdpi" src="/app-resources/images/wallet-app-icon-48x48px.png"/>
        <icon width="72" height="72" density="xhdpi" src="/app-resources/images/wallet-app-icon-72x72px.png"/>
        <icon width="144" height="144" density="xxhdpi" src="/app-resources/images/wallet-app-icon-144x144px.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="app-resources/images/wallet-app-icon-180px.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="app-resources/images/wallet-app-icon-60px.png" width="60" height="60" />
        <icon src="app-resources/images/wallet-app-icon-120px.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="app-resources/images/wallet-app-icon-76px.png" width="76" height="76" />
        <icon src="app-resources/images/wallet-app-icon-152px.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="app-resources/images/wallet-app-icon-40px.png" width="40" height="40" />
        <icon src="app-resources/images/wallet-app-icon-80px.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="app-resources/images/wallet-app-icon-57px.png" width="57" height="57" />
        <icon src="app-resources/images/wallet-app-icon-114px.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="app-resources/images/wallet-app-icon-72px.png" width="72" height="72" />
        <icon src="app-resources/images/wallet-app-icon-144px.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="app-resources/images/wallet-app-icon-29px.png" width="29" height="29" />
        <icon src="app-resources/images/wallet-app-icon-58px.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="app-resources/images/wallet-app-icon-50px.png" width="50" height="50" />
        <icon src="app-resources/images/wallet-app-icon-100px.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="app-resources/images/wallet-app-icon-167px.png" width="167" height="167" />
        <icon src="app-resources/images/wallet-app-icon-20px.png" width="20" height="20" />
        <icon src="app-resources/images/wallet-app-icon-127px.png" width="127" height="127" />
        <icon src="app-resources/images/wallet-app-icon-196px.png" width="196" height="196" />
        <icon src="app-resources/images/wallet-app-icon-24px.png" width="24" height="24" />
        <icon src="app-resources/images/wallet-app-icon-44px.png" width="44" height="44" />
        <icon src="app-resources/images/wallet-app-icon-48px.png" width="48" height="48" />
        <icon src="app-resources/images/wallet-app-icon-55px.png" width="55" height="55" />
        <icon src="app-resources/images/wallet-app-icon-87px.png" width="87" height="87" />
        <icon src="app-resources/images/wallet-app-icon-88px.png" width="88" height="88" />
        <icon src="app-resources/images/wallet-app-icon-1024px.png" width="1024" height="1024" />
        <icon src="app-resources/images/wallet-icon-1024pt.png" width="1365" height="1365" />
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-320px.png" width="320" height="480"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-640px.png" width="640" height="960"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-768px.png" width="768" height="1024"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-1536px.png" width="1536" height="2048"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-1024px.png" width="1024" height="768"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-2048px.png" width="2048" height="1536"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-640-1136.png" width="640" height="1136"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-750px.png" width="750" height="1334"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-1242px.png" width="1242" height="2208"/>
        <splash src="app-resources/images/splash-screens/wallet-loading-screen-2208px.png" width="2208" height="1242"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-828x1792.png" width="828" height="1792"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-1125x2436.png" width="1125" height="2436"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-1136x640.png" width="1136" height="640"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-1242x2208.png" width="1242" height="2208"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-1242x2688.png" width="1242" height="2688"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-1334x750.png" width="1334" height="750"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-1792x828.png" width="1792" height="828"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-2208x1242.png" width="2208" height="1242"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-2436x1125.png" width="2436" height="1125"/>
        <splash src="app-resources/images/splash-screens/Wallet-loading-screens-2688x1242.png" width="2688" height="1242"/>
    </platform>
    <!-- for iOS -->
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <!-- for Android (you will find one in res/xml) -->
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <preference name="SplashScreen" value="none" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <allow-navigation href="https://dentacoin.com/*"/>
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
</widget>
