<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <figure itemscope="" itemtype="http://schema.org/Organization" class="logo">
                    <a routerLink="/" itemprop="url">
                        <img src="assets/images/logo.svg" itemprop="logo" alt="Dentacoin logo"/>
                    </a>
                </figure>
            </div>
        </div>
    </div>
    <div class="nav-row">
        <nav class="container">
            <ul itemtype="http://schema.org/SiteNavigationElement" class="row fs-0">
                <li class="col-xs-3 inline-block">
                    <a class="nav-link nav-button" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="url"><span itemprop="name">WALLET</span></a>
                </li>
                <li class="col-xs-3 inline-block">
                    <a class="nav-link nav-button" routerLink="buy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="url"><span itemprop="name">BUY</span></a>
                </li>
                <li class="col-xs-3 inline-block">
                    <a class="nav-link nav-button" routerLink="send" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="url"><span itemprop="name">SEND</span></a>
                </li>
                <li class="col-xs-3 inline-block">
                    <a class="nav-link nav-button" routerLink="spend" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="url"><span itemprop="name">SPEND</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="container padding-top-100 padding-top-xs-40 padding-bottom-100 padding-bottom-xs-120">
        <div class="row">
            <div class="col-xs-12 padding-right-5 padding-left-5">
                <div class="main-wrapper">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <div class="camping-transaction-history"></div>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 white-border"></div>
        </div>
        <div class="row padding-bottom-xs-50">
            <ul class="col-12 no-gutter-xs" itemtype="http://schema.org/SiteNavigationElement">
                <li class="inline-block-top">
                    <a href="" target="_blank" itemprop="url">
                        <figure><img src="assets/images/faq.svg"/></figure>
                        <span itemprop="name">FAQ</span>
                    </a>
                </li>
                <li class="inline-block-top">
                    <a href="https://dentacoin.com/privacy-policy" target="_blank" itemprop="url">
                        <figure><img src="assets/images/privacy-policy.svg"/></figure>
                        <span itemprop="name">Privacy policy</span>
                    </a>
                </li>
                <li class="inline-block-top">
                    <a href="https://dentavox.dentacoin.com/" target="_blank" itemprop="url">
                        <figure><img src="assets/images/dentavox.svg"/></figure>
                        <span itemprop="name">DentaVox</span>
                    </a>
                </li>
                <li class="inline-block-top">
                    <a href="https://reviews.dentacoin.com/" target="_blank" itemprop="url">
                        <figure><img src="assets/images/trusted-reviews.svg"/></figure>
                        <span itemprop="name">Trusted Reviews</span>
                    </a>
                </li>
                <li class="inline-block-top">
                    <a href="https://dentacare.dentacoin.com/" target="_blank" itemprop="url">
                        <figure><img src="assets/images/dentacare.svg"/></figure>
                        <span itemprop="name">Dentacare</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row copyright">
            <div class="col-12 text-center">
                © 2019 Dentacoin Foundation. All rights reserved.
                <div><a href="https://dentacoin.com/assets/uploads/dentacoin-foundation.pdf" target="_blank">Verify Dentacoin Foundation</a></div>
            </div>
        </div>
    </div>
</footer>
<div class="camp-for-fixed-mobile-nav">
    <nav>
        <ul itemtype="http://schema.org/SiteNavigationElement" class="fs-0">
            <li class="inline-block-bottom">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="url">
                    <figure itemscope="" itemtype="http://schema.org/Organization">
                        <img alt="Wallet icon" itemprop="contentUrl" src="assets/images/wallet-icon.svg"/>
                    </figure>
                    <span itemprop="name">WALLET</span>
                </a>
            </li>
            <li class="inline-block-bottom">
                <a routerLink="buy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="url">
                    <figure itemscope="" itemtype="http://schema.org/Organization">
                        <img alt="Buy icon" itemprop="contentUrl" src="assets/images/buy-icon.svg"/>
                    </figure>
                    <span itemprop="name">BUY</span>
                </a>
            </li>
            <li class="inline-block-bottom">
                <a routerLink="send" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="url">
                    <figure itemscope="" itemtype="http://schema.org/Organization">
                        <img alt="Send icon" itemprop="contentUrl" src="assets/images/send-icon.svg"/>
                    </figure>
                    <span itemprop="name">SEND</span>
                </a>
            </li>
            <li class="inline-block-bottom">
                <a routerLink="spend"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" itemprop="url">
                    <figure itemscope="" itemtype="http://schema.org/Organization">
                        <img alt="Spend icon" itemprop="contentUrl" src="assets/images/spend-icon.svg"/>
                    </figure>
                    <span itemprop="name">SPEND</span>
                </a>
            </li>
        </ul>
    </nav>
</div>