<div class="main-wrapper">
    <figure itemscope="" itemtype="http://schema.org/ImageObject" class="page-absolute-icon">
        <img alt="Send icon" itemprop="contentUrl" src="assets/images/send-icon.svg"/>
    </figure>
    <section class="padding-top-100 padding-bottom-70 padding-top-xs-40 padding-bottom-xs-50 section-send">
        <div class="container-fluid no-gutter-xs">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 fs-0">
                    <div class="inline-block search-field">
                        <div class="custom-google-label-style module" data-input-light-blue-border="true">
                            <label for="search" id="search-label">{{'enter-or-scan' | translate}}</label>
                            <input type="text" id="search" maxlength="42" autocomplete="off"/>
                        </div>
                        <div class="search-result">
                            <div class="search-header">
                                <a class="inline-block active" data-type="clinics" href="javascript:void(0)">{{'clinics-dentists' | translate}}</a>
                                <a class="inline-block" data-type="address-book" href="javascript:void(0)">{{'address-book' | translate}}</a>
                            </div>
                            <div class="search-body">
                                <div class="clinics hideable-element">
                                    <ul class="clinics-list" id="clinics-list"></ul>
                                </div>
                                <div class="address-book hideable-element"><i class="display-block-important padding-top-15 padding-left-15 padding-bottom-15 padding-right-15">{{'empty-book' | translate}}</i></div>
                            </div>
                            <div class="search-footer">
                                <a href="javascript:void(0)" class="add-to-address-book lato-bold">{{'add-to' | translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="calibri-light fs-14 color-solid-gray padding-bottom-xs-20 padding-top-5 show-on-xs">{{'for-payments' | translate}}</div>
                    <a href="javascript:void(0)" class="inline-block max-width-80 scan-qr-code">
                        <figure itemscope="" itemtype="http://schema.org/ImageObject">
                            <img src="assets/images/scan-qr-code.svg" class="width-100" alt="Scan QR code icon" itemprop="contentUrl"/>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row hide-xs">
                <div class="col-xs-12 text-center calibri-light fs-16 color-solid-gray padding-top-40">{{'for-partner-payments' | translate}}</div>
            </div>
        </div>
        <div class="bottom-absolute-btn text-center">
            <a href="javascript:void(0)" class="white-light-blue-btn disabled light-blue-border next-send">{{'next' | translate}}</a>
        </div>
    </section>
    <section class="padding-top-85 padding-bottom-100 padding-top-xs-0 padding-bottom-xs-50 section-amount-to">
        <div class="send-to text-center padding-top-15 padding-bottom-15">
            <div class="wrapper padding-left-15 padding-right-15 fs-0">
                <div class="inline-block text-part">
                    <span class="inline-block fs-16 lato-black send-to-label">{{'send-to' | translate}}</span>
                    <span class="inline-block fs-16 fs-xs-12 address-cell padding-right-10 padding-left-10 padding-left-xs-0 padding-right-xs-0"></span>
                </div>
                <a href="javascript:void(0)" class="inline-block edit-address">
                    <figure itemscope="" itemtype="http://schema.org/ImageObject">
                        <img src="assets/images/edit-icon.png" class="width-100 max-width-40" alt="Edit icon" itemprop="contentUrl"/>
                    </figure>
                </a>
            </div>
        </div>
        <div class="container-fluid no-gutter-xs">
            <div class="row fs-0 padding-top-40 padding-top-xs-25">
                <div class="balance-line padding-bottom-40 padding-bottom-xs-15 fs-0 col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <div class="inline-block balance-value fs-20">
                        <span class="inline-block display-block-xs color-light-blue fs-xs-16 padding-right-10">Balance:</span> <span class="color-black inline-block max-amount"><span class="amount"></span> DCN</span>
                    </div>
                    <a href="javascript:void(0);" class="inline-block line-height-30 white-light-blue-btn padding-top-0 padding-bottom-0 fs-16 fs-xs-14 light-blue-border max-btn">MAX</a>
                </div>
                <div class="col-xs-12 col-md-5 inline-block padding-bottom-sm-20 padding-bottom-xs-20">
                    <div class="from-box module padding-top-10 padding-bottom-10 padding-left-20 padding-right-20 padding-left-xs-10 padding-right-xs-10">
                        <div class="fs-0">
                            <div class="inline-block width-50 padding-bottom-5 padding-bottom-xs-0 fs-20 color-light-blue">{{'send-amount' | translate}}</div>
                            <div class="inline-block width-50 padding-bottom-5 padding-bottom-xs-0 text-right hide l1-network">
                                <div class="inline-block fs-18 fs-xs-14 color-solid-gray cursor-pointer" data-placement="top" data-toggle="tooltip" data-trigger="click" [attr.data-title]="this.translate.instant('eth-network-desc')">Network: <img src="assets/images/eth-icon.svg" alt="Ethereum logo" class="width-100 max-width-20 margin-left-5"/></div>
                            </div>
                            <div class="inline-block width-50 padding-bottom-5 padding-bottom-xs-0 text-right l2-network">
                                <div class="inline-block fs-18 fs-xs-14 color-solid-gray cursor-pointer" data-placement="top" data-toggle="tooltip" data-trigger="click" [attr.data-title]="this.translate.instant('l2-eth-network-desc')">Network: <img src="assets/images/eth-2-icon.svg" alt="Ethereum logo" class="width-100 max-width-20 margin-left-5"/></div>
                            </div>
                        </div>
                        <div class="inputable-line">
                            <input type="number" autocomplete="off" class="inputable-amount inline-block" id="crypto-amount" placeholder="0.0"/>
                            <select class="inline-block fs-24 fs-xs-22 padding-left-10 crypto-label input-label red-color" id="active-crypto">
                                <option value="dcn-l2" selected>DCN</option>
                                <option value="dcn-l1">DCN</option>
                                <option value="eth-l1">ETH</option>
                                <option value="eth-l2">ETH</option>
                            </select>
                        </div>
                    </div>
                    <div class="fs-14 padding-left-30 padding-left-xs-0 calibri-light">{{'enter-amount' | translate}}</div>
                </div>
                <!--<div class="col-xs-12 col-sm-5 inline-block-top">
                    <div class="custom-google-label-style module fs-0 flex">
                        <div class="inline-block left-side">
                            <label for="crypto-amount">{{'send-amount' | translate}}</label>
                            <input type="number" id="crypto-amount"/>
                        </div>
                        <select class="inline-block crypto-label input-label" id="active-crypto">
                            <option value="dcn-l1">DCN</option>
                            <option value="dcn-l2">DCN</option>
                            <option value="eth-l1">ETH</option>
                            <option value="eth-l2">ETH</option>
                        </select>
                    </div>
                </div>-->
                <figure itemscope="" itemtype="http://schema.org/ImageObject" class="col-xs-12 col-md-2 inline-block text-center hide-xs hide-this-sm">
                    <img src="assets/images/equal-icon.svg" class="width-100 max-width-30" alt="Edit icon" itemprop="contentUrl"/>
                </figure>
                <div class="col-xs-12 col-md-5 inline-block">
                    <div class="to-box module padding-top-10 padding-bottom-10 padding-left-20 padding-right-20 padding-left-xs-10 padding-right-xs-10">
                        <div class="padding-bottom-5 padding-bottom-xs-0 fs-20 color-light-blue">{{'equal-to' | translate}}</div>
                        <div class="inputable-line">
                            <input type="number" autocomplete="off" class="inline-block" id="usd-val" placeholder="0.0"/>
                            <div class="inline-block token-label fs-24 fs-xs-22">$ USD</div>
                        </div>
                    </div>
                    <div class="fs-14 padding-left-30 padding-left-xs-0 calibri-light">{{'the-exchange' | translate}}</div>
                </div>
                <!--<div class="col-xs-12 col-sm-5 inline-block-top padding-top-xs-20">
                    <div class="custom-google-label-style module fs-0 flex">
                        <div class="inline-block left-side">
                            <label for="usd-val">{{'equal-to' | translate}}</label>
                            <input type="number" id="usd-val"/>
                        </div>
                        <span class="inline-block input-label padding-top-10 padding-top-xs-15">USD</span>
                    </div>
                </div>-->
            </div>
            <div class="row padding-top-60 padding-top-xs-20 text-center checkbox-row">
                <div class="col-xs-12 fs-0">
                    <input type="checkbox" id="verified-receiver-address" class="zoom-checkbox inline-block"/>
                    <label class="fs-16 calibri-bold padding-left-5 inline-block" for="verified-receiver-address">{{'i-verified' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="bottom-absolute-btn text-center">
            <a href="javascript:void(0)" class="white-light-blue-btn light-blue-border open-transaction-recipe">{{'send-btn' | translate}}</a>
        </div>
    </section>
</div>