<div class="main-wrapper">
    <figure itemscope="" itemtype="http://schema.org/ImageObject" class="page-absolute-icon">
        <img alt="Buy icon" itemprop="contentUrl" src="assets/images/buy-icon.svg"/>
    </figure>
    <div class="padding-top-50 padding-top-xs-40 padding-bottom-50">
        <section class="container-fluid ready-to-purchase-with-external-api padding-top-40 padding-bottom-10 padding-top-xs-0 padding-bottom-xs-0 no-gutter-xs">
            <div class="row camping-for-issue-with-the-external-provider"></div>
            <div class="row">
                <div class="col-xs-12 col-md-5 padding-bottom-xs-20 padding-bottom-sm-20">
                    <!--<div class="custom-google-label-style module fs-0 flex">
                        <div class="inline-block left-side">
                            <label class="active-label" for="usd-value">{{'pay-with' | translate}}</label>
                            <input type="number" id="usd-value"/>
                        </div>
                        <span class="inline-block input-label padding-top-10 padding-top-xs-15">USD</span>
                    </div>-->
                    <div class="from-box module inline-block">
                        <div class="padding-bottom-10 fs-20 color-light-blue">{{'pay-with' | translate}}</div>
                        <div class="inputable-line">
                            <input type="number" class="inputable-amount inline-block" id="usd-value" placeholder="0.0"/>
                            <div class="inline-block token-label fs-24 fs-xs-22">$ USD</div>
                        </div>
                    </div>
                    <div class="fs-16 padding-left-15 padding-left-xs-0 calibri-light text-below-input">{{'first-tx' | translate}}<span class="min-usd-amount"></span> {{'daily-limit' | translate}}</div>
                </div>
                <div class="col-md-2 text-center hide-this-sm hide-this-xs inline-block padding-bottom-20">
                    <figure itemscope="" itemtype="http://schema.org/ImageObject">
                        <img alt="Exchange icon" itemprop="contentUrl" src="assets/images/exchange-icon-light-blue.png"/>
                    </figure>
                </div>
                <div class="col-xs-12 col-md-5 padding-bottom-xs-20 inline-block">
                    <!--<div class="custom-google-label-style module fs-0 flex">
                        <div class="inline-block left-side">
                            <label for="crypto-amount" class="active-label">{{'you-get' | translate}}</label>
                            <input type="number" id="crypto-amount" readonly/>
                        </div>
                        <select class="inline-block crypto-label input-label" id="active-crypto">
                            <option value="dcn">DCN</option>
                            <option value="eth">ETH</option>
                        </select>
                    </div>-->
                    <div class="to-box module">
                        <div class="padding-bottom-10 fs-20 color-light-blue">{{'you-get' | translate}}</div>
                        <div class="inputable-line">
                            <input type="number" class="inputable-amount inline-block" id="crypto-amount" readonly placeholder="0.0"/>
                            <select class="inline-block fs-24 fs-xs-22 padding-left-10" id="active-crypto">
                                <option value="dcn">DCN</option>
                                <option value="eth">ETH</option>
                            </select>
                        </div>
                    </div>
                    <div class="fs-16 padding-left-15 padding-left-xs-0 calibri-light text-below-input"><figure itemscope="" itemtype="http://schema.org/ImageObject" class="inline-block margin-left-10 more-info" data-trigger="click" data-toggle="tooltip" data-placement="top" [attr.data-title]="this.translate.instant('determined')"><img alt="More info icon" itemprop="contentUrl" src="assets/images/more-info.svg" class="width-100 max-width-20 cursor-pointer"/></figure> {{'exchange-rate' | translate}}</div>
                </div>
            </div>
            <div class="row padding-top-50 padding-top-xs-0 padding-bottom-20">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="custom-google-label-style module" data-input-light-blue-border="true">
                        <label for="dcn_address">{{'address-to-receive' | translate}} <span class="address-to-receive">DCN</span>:</label>
                        <input type="url" id="dcn_address" maxlength="42" class="full-rounded"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="custom-google-label-style module" data-input-light-blue-border="true">
                        <label for="email">Email:</label>
                        <input type="email" id="email" maxlength="100" class="full-rounded"/>
                    </div>
                </div>
            </div>
            <div class="row padding-top-20 text-center checkbox-row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <input type="checkbox" id="privacy-policy-agree" class="zoom-checkbox"/>
                    <label class="fs-16 calibri-bold text-below-input padding-left-10 cursor-pointer privacy-policy-agree-label" for="privacy-policy-agree">{{'read-and-accept' | translate}} <a href="https://dentacoin.com/privacy-policy" target="_blank" class="color-light-blue lato-bold data-external-link">{{'menu-privacy-policy' | translate}}</a> {{'read-and-accept-two' | translate}}</label>
                </div>
            </div>
            <div class="row padding-top-30 text-center">
                <div class="col-xs-12 fs-16">
                    {{'powered' | translate}}
                    <figure itemscope="" itemtype="http://schema.org/ImageObject" class="padding-bottom-10">
                        <img alt="Indacoin logo" itemprop="contentUrl" src="assets/images/indacoin-logo.svg" class="width-100 max-width-150"/>
                    </figure>
                    <div>{{'all-txs' | translate}}</div>
                    <a href="https://indacoin.com/" target="_blank" class="text-decoration-underline color-light-blue">www.indacoin.com</a>
                </div>
            </div>
        </section>
        <div class="bottom-absolute-btn text-center">
            <a href="javascript:void(0)" class="white-light-blue-btn light-blue-border buy-crypto-btn">{{'buy-btn' | translate}}</a>
        </div>
    </div>
</div>