<div class="main-wrapper">
    <figure itemscope="" itemtype="http://schema.org/ImageObject" class="page-absolute-icon">
        <img alt="Buy icon" itemprop="contentUrl" src="assets/images/buy-icon.svg"/>
    </figure>
    <div class="padding-top-50 padding-top-xs-40 padding-bottom-50">
        <section class="container-fluid ready-to-purchase-with-external-api padding-top-40 padding-bottom-10 padding-top-xs-0 padding-bottom-xs-0 no-gutter-xs">
            <div class="row camping-for-issue-with-the-external-provider"></div>
            <div class="row">
                <div class="col-xs-12 col-md-5 padding-bottom-xs-20 padding-bottom-sm-20">
                    <div class="from-box module inline-block">
                        <div class="padding-bottom-10 fs-20 color-light-blue">{{'pay-with' | translate}}</div>
                        <div class="inputable-line">
                            <input type="number" autocomplete="off" class="inputable-amount inline-block" id="usd-value" placeholder="0.0"/>
                            <div class="inline-block token-label fs-24 fs-xs-22">$ USD</div>
                        </div>
                    </div>
                    <div class="fs-16 padding-left-15 padding-left-xs-0 calibri-light text-below-input indacoin-info-text" style="display: none">{{'first-tx' | translate}}<span class="min-usd-amount"></span> {{'daily-limit' | translate}} <span class="max-daily-limit"></span> USD.</div>
                    <div class="fs-16 padding-left-15 padding-left-xs-0 calibri-light text-below-input transak-info-text" style="display: none">{{'daily-limit-2' | translate}} <span class="max-daily-limit"></span> USD.</div>
                </div>
                <div class="col-md-2 text-center hide-this-sm hide-this-xs inline-block padding-bottom-20">
                    <figure itemscope="" itemtype="http://schema.org/ImageObject">
                        <img alt="Exchange icon" itemprop="contentUrl" src="assets/images/exchange-icon-light-blue.png"/>
                    </figure>
                </div>
                <div class="col-xs-12 col-md-5 padding-bottom-xs-20 inline-block">
                    <div class="to-box module">
                        <div class="padding-bottom-10 fs-20 color-light-blue">{{'you-get' | translate}}</div>
                        <div class="inputable-line">
                            <input type="number" autocomplete="off" class="inputable-amount inline-block" id="crypto-amount" readonly placeholder="0.0"/>
                            <select class="inline-block fs-22 padding-left-10" id="active-crypto">
                                <option selected disabled>Select</option>
                                <option value="dcn-l2">DCN (Optimism)</option>
                                <option value="dcn">DCN</option>
                                <option value="eth-l2">ETH (Optimism)</option>
                                <option value="eth">ETH</option>
                            </select>
                        </div>
                        <div class="text-right padding-top-5 fs-18 fs-xs-14 l1-network hide">
                            <div class="inline-block cursor-pointer" data-placement="top" data-toggle="tooltip" data-trigger="click" [attr.data-title]="this.translate.instant('eth-network-desc')">Network: <img src="assets/images/eth-icon.svg" alt="Ethereum logo" class="width-100 max-width-20 margin-left-5"/></div>
                        </div>
                        <div class="text-right padding-top-5 fs-18 fs-xs-14 l2-network hide">
                            <div class="inline-block cursor-pointer" data-placement="top" data-toggle="tooltip" data-trigger="click" [attr.data-title]="this.translate.instant('l2-eth-network-desc')">Network: <img src="assets/images/eth-2-icon.svg" alt="Ethereum logo" class="width-100 max-width-20 margin-left-5"/></div>
                        </div>
                    </div>
                    <div class="fs-16 padding-left-15 padding-left-xs-0 calibri-light text-below-input"><figure itemscope="" itemtype="http://schema.org/ImageObject" class="inline-block margin-left-10 more-info" data-trigger="click" data-toggle="tooltip" data-placement="top" [attr.data-title]="this.translate.instant('determined')"><img alt="More info icon" itemprop="contentUrl" src="assets/images/more-info.svg" class="width-100 max-width-20 cursor-pointer"/></figure> {{'exchange-rate' | translate}}</div>
                </div>
            </div>
            <div class="row padding-top-25">
                <div class="col-xs-12">
                    <div class="alert alert-info currency-description hide fs-0 padding-left-30 padding-right-30 padding-left-xs-15 padding-right-xs-15">
                        <img alt="Indacoin logo" itemprop="contentUrl" src="assets/images/eye-icon.svg" class="width-100 max-width-40 inline-block margin-right-10"/>
                        <div class="inline-block description-content fs-16" [attr.data-dcn-l2-description]="this.translate.instant('data-dcn-l2-description')" [attr.data-dcn-description]="this.translate.instant('data-dcn-description')" [attr.data-eth-description]="this.translate.instant('data-eth-description')" [attr.data-l2-eth-network-desc]="this.translate.instant('l2-eth-network-desc')"></div>
                    </div>
                </div>
            </div>
            <div class="row padding-top-20 padding-top-xs-0 padding-bottom-20">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="custom-google-label-style module" data-input-light-blue-border="true">
                        <label for="dcn_address">{{'address-to-receive' | translate}}</label>
                        <input type="url" autocomplete="off" id="dcn_address" maxlength="42" class="full-rounded"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="custom-google-label-style module" data-input-light-blue-border="true">
                        <label for="email">Email:</label>
                        <input type="email" autocomplete="off" id="email" maxlength="100" class="full-rounded"/>
                    </div>
                </div>
            </div>
            <div class="row padding-top-20 text-center checkbox-row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <input type="checkbox" id="privacy-policy-agree" class="zoom-checkbox"/>
                    <label class="fs-16 calibri-bold text-below-input padding-left-10 cursor-pointer privacy-policy-agree-label" for="privacy-policy-agree">{{'read-and-accept' | translate}} <a href="https://dentacoin.com/privacy-policy" target="_blank" class="color-light-blue lato-bold data-external-link">{{'menu-privacy-policy' | translate}}</a> {{'read-and-accept-two' | translate}}</label>
                </div>
            </div>
            <div class="row padding-top-30 text-center">
                <div class="col-xs-12 fs-16 indacoin-info hide">
                    {{'powered' | translate}}
                    <figure itemscope="" itemtype="http://schema.org/ImageObject" class="padding-bottom-10">
                        <img alt="Indacoin logo" itemprop="contentUrl" src="assets/images/indacoin-logo.svg" class="width-100 max-width-150"/>
                    </figure>
                    <div>{{'all-txs' | translate}}</div>
                    <a href="https://indacoin.com/" target="_blank" class="text-decoration-underline color-light-blue">www.indacoin.com</a>
                </div>
                <div class="col-xs-12 fs-16 transak-info hide">
                    {{'powered' | translate}}
                    <figure itemscope="" itemtype="http://schema.org/ImageObject" class="padding-bottom-10">
                        <img alt="Transak logo" itemprop="contentUrl" src="assets/images/transak-logo.png" class="width-100 max-width-150"/>
                    </figure>
                    <div>{{'all-txs-transak' | translate}}</div>
                    <a href="https://transak.com/" target="_blank" class="text-decoration-underline color-light-blue">https://transak.com/</a>
                </div>
            </div>
        </section>
        <div class="bottom-absolute-btn text-center">
            <a href="javascript:void(0)" class="white-light-blue-btn light-blue-border buy-crypto-btn">{{'buy-btn' | translate}}</a>
        </div>
    </div>
</div>