<div class="main-wrapper">
    <figure itemscope="" itemtype="http://schema.org/ImageObject" class="page-absolute-icon">
        <img alt="Buy icon" itemprop="contentUrl" src="assets/images/spend-icon.svg"/>
    </figure>
    <div class="padding-bottom-50">
        <div class="container-fluid no-gutter">
            <div class="row spend-navigation module">
                <div class="col-xs-6">
                    <a (click)="toExchanges()" class="fs-16 calibri-bold color-light-blue prev cursor-pointer">TRADE ON EXCHANGES</a>
                </div>
                <div class="col-xs-6 text-right">
                    <a (click)="toPayForDentalServices()" class="fs-16 calibri-bold color-light-blue next cursor-pointer">PAY DENTAL SERVICES</a>
                </div>
            </div>
            <div class="row padding-top-20 padding-top-xs-0">
                <div class="col-xs-12 text-center">
                    <div class="mobile-nav padding-top-xs-20">
                        <a (click)="toExchanges()" class="prev cursor-pointer text-left"><img alt="Buy icon" itemprop="contentUrl" src="assets/images/gray-arrow-left.svg"/></a>
                        <h1 class="calibri-bold fs-28 fs-xs-24">MANAGE DCN ASSURANCE</h1>
                        <a (click)="toPayForDentalServices()" class="next cursor-pointer text-right"><img alt="Buy icon" itemprop="contentUrl" src="assets/images/gray-arrow-right.svg"/></a>
                    </div>
                    <div class="padding-top-15 padding-top-xs-40 padding-bottom-10 fs-16 max-width-600 margin-0-auto">Dentacoin Assurance is first blockchain-based plan that entitles you to preventive care against affordable monthly fees in Dentacoin (DCN) cryptocurrency.</div>
                    <div class="camp-assurance-mobile-phone-scanning"></div>
                    <div class="padding-bottom-20 padding-top-20">
                        <video controls="" height="350" class="width-100 max-width-600 margin-0-auto" poster="assets/images/dentacoin-assurance-intro.png">
                            <source src="https://dentacoin.com/assets/uploads/assurance-hub-video.mp4" type="video/mp4"> Your browser does not support HTML5 video. </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-absolute-btn text-center">
            <a href="https://assurance.dentacoin.com" target="_blank" class="white-light-blue-btn light-blue-border min-width-xs-300 data-external-link">GO TO DENTACOIN ASSURANCE</a>
        </div>
    </div>
</div>