header {
    position: relative;
    z-index: 150;
    background-color: #4fb2d0;
    .logo {
        padding-top: 10px;
        padding-bottom: 10px;
        img {
            width: 130px;
        }
        @include breakpoint($xs)    {
            padding-bottom: 5px;
        }
    }
    .nav-row {
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        nav {
            text-align: center;
            ul {
                li {
                    a {
                        font-size: 30px;
                        display: block;
                        @include rounded(4px);
                        &:hover {
                            color: white;
                            background: -moz-linear-gradient(top, #00c5e7 0%, #00a8df 100%);
                            background: -webkit-linear-gradient(top, #00c5e7 0%,#00a8df 100%);
                            background: linear-gradient(to bottom, #00c5e7 0%,#00a8df 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5e7', endColorstr='#00a8df',GradientType=0 );
                            color: white;
                        }
                        &.active, &.custom-active {
                            color: white;
                            background: -moz-linear-gradient(top, #00c5e7 0%, #00a8df 100%);
                            background: -webkit-linear-gradient(top, #00c5e7 0%,#00a8df 100%);
                            background: linear-gradient(to bottom, #00c5e7 0%,#00a8df 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5e7', endColorstr='#00a8df',GradientType=0 );
                        }
                    }
                }
            }
        }
        @include breakpoint($xs)    {
            display: none;
        }
    }
    .currently-offline {
        text-align: center;
        background: red;
        color: white;
        padding: 5px;
        font-size: 16px;
    }
    .camping-buy-page-notice {
        display: none;
        color: white;
        background-color: #0cb1e5;
        width: 100%;
        left: 0;
        top: 100%;
        position: absolute;
        padding: 20px;
        .wrapper {
            max-width: 800px;
            margin: 0 auto;
            .icon, .close-btn {
                width: 50px;
            }
            .description {
                width: calc(100% - 100px);
                padding: 0 15px;
            }
        }
        @include breakpoint($xs) {
            padding: 10px;
            .wrapper {
                margin: 0 auto;
                .icon, .close-btn {
                    width: 30px;
                }
                .description {
                    width: calc(100% - 60px);
                }
            }
        }
    }
    .open-wallet-menu {
        ul {
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            li {
                display: block;
                margin-bottom: 3px;
                width: 8px;
                height: 8px;
                background-color: white;
                @include rounded(50%);
            }
        }
    }
}