.white-light-blue-btn {
    font-size: 20px;
    color: white;
    background-color: $light_blue;
    padding: 10px 20px;
    font-family: 'Lato-Bold';
    border: 1.5px solid white;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    @include rounded(4px);
    @include simple_transition(.3s);
    @include breakpoint($md) {
        &:hover {
            color: $light_blue;
            background-color: white;
        }
        &.no-hover {
            &:hover {
                color: white;
                background-color: $light_blue;
            }
        }
    }
    &.light-blue-border {
        border-color: $light_blue;
    }
    &.disabled {
        color: white;
        background-color: #c5c5c5;
        border-color: #c5c5c5;
        @include breakpoint($md) {
            &:hover {
                color: white;
                background-color: #c5c5c5;
            }
        }
    }
}

.light-blue-white-btn {
    font-size: 20px;
    background-color: white;
    color: $light_blue;
    padding: 10px 20px;
    font-family: 'Lato-Bold';
    border: 1.5px solid $light_blue;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        background-color: $light_blue;
        color: white;
    }
    &.disabled {
        color: white;
        background-color: #c5c5c5;
        border-color: #c5c5c5;
        &:hover {
            color: white;
            background-color: #c5c5c5;
        }
    }
    &.no-hover {
        &:hover {
            background-color: white;
            color: $light_blue;
        }
    }
}

.module {
    &.custom-google-label-style {
        position: relative;
        label {
            position: absolute;
            font-size: 16px !important;
            cursor: pointer;
            margin: 0;
            width: calc(100% - 20px) !important;
            background-color: white;
            left: 10px;
            color: #888888;
            font-weight: normal;
            top: 5px;
            font-family: 'Calibri-Regular';
            z-index: 50;
            height: 35px;
            line-height: 35px;
            @include rounded(4px);
            @include simple_transition(.3s);
            &.active-label {
                width: auto !important;
                font-size: 14px !important;
                top: -10px;
                padding: 0 5px !important;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                color: $light_blue;
                font-weight: bold;
                height: 20px;
                line-height: 20px;
            }
            @include breakpoint($xs) {
                height: 42px;
                line-height: 42px;
            }
        }
        .left-side {
            width: calc(100% - 100px);
            position: relative;
            &.error-field {
                input, label {
                    color: red;
                }
            }
        }
        input, textarea {
            z-index: 40;
            border: 2px solid #dddddd;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Calibri-Regular';
            width: 100%;
            padding: 10px 15px;
            @include rounded(4px 0 0 4px);
            &.full-rounded {
                @include rounded(4px);
            }
            &.light-blue-border {
                border: 2px solid $light_blue;
            }
            @include breakpoint($xs) {
                height: 52px;
                padding: 10px;
            }
        }
        .input-label {
            width: 100px;
            text-align-last:center;
            text-align: center;
            border: 0;
            font-size: 18px;
            font-family: 'Calibri-Regular';
            color: black;
            background-color: #dddddd;
            @include rounded(0 4px 4px 0);
        }
    }
    &.spend-navigation {
        padding-top: 30px;
        .prev {
            padding-left: 20px;
            background-image: url(../images/light-blue-arrow-left.svg);
            background-repeat: no-repeat;
            background-size: 10px auto;
            background-position: left 0 center;
            @include simple_transition(.3s);
            &:hover {
                color: #7D8EA1;
                background-image: url(../images/gray-arrow-left.svg);
            }
        }
        .next {
            padding-right: 20px;
            background-image: url(../images/light-blue-arrow-right.svg);
            background-repeat: no-repeat;
            background-size: 10px auto;
            background-position: right 0 center;
            @include simple_transition(.3s);
            &:hover {
                color: #7D8EA1;
                background-image: url(../images/gray-arrow-right.svg);
            }
        }
    }
}