$screen-md: 1200px;
$screen-sm: 992px;
$screen-xs: 768px;

$light_blue: #00b7e2;
$light_gray: #ddd;
$solid_gray: #888888;
$warning_red: #ff0046;

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-light-blue {
    color: $light_blue;
}

.color-warning-red {
    color: $warning_red;
}

.color-light-gray {
    color: $light_gray;
}

.color-solid-gray {
    color: $solid_gray;
}

.background-light-blue-gradient {
    background: -moz-linear-gradient(top, #00c5e7 0%, #00a8df 100%);
    background: -webkit-linear-gradient(top, #00c5e7 0%,#00a8df 100%);
    background: linear-gradient(to bottom, #00c5e7 0%,#00a8df 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5e7', endColorstr='#00a8df',GradientType=0 );
}