$screen-md: 1200px;
$screen-sm: 992px;
$screen-xs: 768px;

$light_blue: #00b7e2;
$light_gray: #ddd;
$solid_gray: #888888;
$warning_red: #ff0046;

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-light-blue {
    color: $light_blue;
}

.color-warning-red {
    color: $warning_red;
}

.color-light-gray {
    color: $light_gray;
}

.color-solid-gray {
    color: $solid_gray;
}